.App {
  text-align: center;
}

.k-checkbox-label {
  margin-left: 20px;
  padding-left: 30px;
}

.k-form {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.k-form-field {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: -3px !important;
}

.k-state-disabled {
  color: #000000 !important;
}

.k-header {
  margin-top: 5px;
}

.k-shadow {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.mapChild {
  padding-top: 2px;
  padding-bottom: 10px;
}

.multipleElementComponent {
  position:relative;
}

.deleteElementButtonMap {
  color: #ffffff;
  font-size: 12px;
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
  margin-top: -5px;
  padding: 0px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}

.deleteElementButtonArray {
  font-size: 12px;
  height: 35px;
  width: 35px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 0px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}

.formHighlightLight {
  background-color: #E2F1FF;
  border: 1px solid #78A4CC;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formHighlightDark {
  background-color: #96CDFF;
  border: 1px solid #78A4CC;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navFooter {
  border-top: 1px solid #96D8FF;
  background-color: #ECF8FF;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.navFooter button {
  float: right;
  margin-left: 2px;
  margin-top: 5px;
}

.descSelector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.descSelectorLabel {
  padding-top: 11px;
  padding-bottom: 6px;
}

.loginFormStyle {
  margin: 15px;
  padding-top: 20px;
}

.loginFormStyle button {
  float: right;
}

.importConfigStyle textarea {
  height: 200px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.formSelectorHeader {
  margin-top: 10px;
  margin-bottom: 15px;
}

.pageRoot {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  .pageRoot {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navFooter {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -15px;
  }

  .navFooter button {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 8px;
  }

  .configButton {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
