.App {
  text-align: center;
}

.k-checkbox-label {
  margin-left: 20px;
  padding-left: 30px;
}

.k-form {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.k-form-field {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: -3px !important;
}

.k-state-disabled {
  color: #000000 !important;
}

.k-header {
  margin-top: 5px;
}

.k-shadow {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.map-child {
  padding-top: 2px;
  padding-bottom: 10px;
}

.color-white {
  color: #ffffff;
}

.transparent-button {
  height: 35px;
  width: 35px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}

.delete-element-button {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: -5px;
  padding: 0px;
}

.delete-array-button {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 0px;
}

.footer-bg-style {
  border-top: 1px solid #96D8FF;
  background-color: #ECF8FF;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -30px;
}

.footer-bg-white {
  background-color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -10px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.page-footer button {
  margin-left: 2px;
  margin-top: 5px;
}

.form-selector-padding {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-selector-label {
  padding-top: 11px;
  padding-bottom: 6px;
}

.full-width-text-area {
  height: 200px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.formSelectorHeader {
  margin-top: 10px;
  margin-bottom: 15px;
}

.page-root {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  .page-root {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .side-margin {
    margin-right: 20px;
    margin-left: 20px;
  }

  .footer-bg-style {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: -15px;
  }

  .page-footer button {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 5px;
  }

  .page-footer input {
    width: 40%;
  }

  .config-button {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
