.App {
  text-align: center;
}

.k-checkbox-label {
  margin-left: 20px;
  padding-left: 30px;
}

.k-form {
  padding: 0px;
}

.k-form-field {
  padding: 10px;
}

.mapChild {
  margin-top: 15px;
  margin-bottom: 10px;
}

.formHighlightLight {
  background-color: #E2F1FF;
  border: 1px solid #78A4CC;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formHighlightDark {
  background-color: #96CDFF;
  border: 1px solid #78A4CC;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navFooter {
  border-top: 1px solid #96D8FF;
  background-color: #ECF8FF;
  padding-top: 10px;
  padding-right: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navFooter button {
  float: right;
}

.descSelectorTable {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginFormStyle {
  margin: 15px;
}

.configDisplayHeader {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.formSelectorHeader {
  margin-top: 10px;
  margin-bottom: 15px;
}

.menuBar {
  background-color: #007bff;
  padding-top: 15px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  z-index: 999;
}

.menuBar button {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.userDisplay button {
  float: right;
}

.userDisplay label {
  float: right;
  padding: 6px 0;
}

.narrow {
  display: none;
}

.narrow table {
  width: 100%;
}

.shrinkToFit {
  width:1%;
  white-space:nowrap;
}

@media only screen and (max-width: 575px) {
  .wide {
    display: none;
  }

  .narrow {
    display: inline-block;
  }

  .menuBar button {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
